<!DOCTYPE html>
<html>

<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Sue+Ellen+Francisco"/>

  <head>
    <%= stylesheet_link_tag 'lists' %>
    <title>FoodEh</title>
  </head>


    <div class="user-list">
      <h4 class="user-list-title"> Your Grocery List </h4>
       <% if current_user.list == nil %>
          <%= "No Ingredients Selected." %>
       <% elsif current_user.list.ingredients.empty? %>
          <%= "No Ingredients Selected." %>
       <% else %>
       <% current_user.list.ingredients.each do |ingredient| %>
         <li class="ingredients-user-page">  &#9633;  <%= ingredient.description %>
       <% end %>
       <% end %>
   </div>

<%= link_to 'Back to User Page', user_path(current_user), method: :get %>

</html>
