<h1>Recipes</h1>
  <p>Search by Recipe or Ingredient</p>
<%= form_tag recipes_path, :method => 'get' do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", :name => nil %>
  </p>
<% end %>



<h1>Searching for - <%= @get_term %></h1>
<p>Powered By Food2Fork.com</p>
<% if (@recipes.nil? or @recipes == []) %>
<p> <h2>No recipes found... Please search again!</h2></p>
<% else %>

<table border="1">
 <tr>
 <th>Image</th>
 <th>Name</th>
 <th>Rank</th>
 <th>ID</th>
 </tr>
 <% @recipes.each do |recipe| %>
 <tr class=<%= cycle('even', 'odd') %>>
 <td><%= link_to(image_tag(recipe["image_url"], height: '100', width: '100'), "/recipes/#{recipe["recipe_id"]}")%></td>
 <td><%= link_to(recipe["title"], "/recipes/#{recipe["recipe_id"]}") %></td>
 <td><%= recipe["social_rank"] %></td>
 <td><%= recipe["recipe_id"] %></td>
 <td><%= recipe["ingredients"] %></td>

 </tr>
 <% end %>
</table>
<% end %>
