<div class="site-header"> </div>


<h1><%= @recipe.name %></h1>
  <div class="recipe-show">
    <%=link_to(image_tag(@recipe.recipe_picture)) %>
    <p class="recipe-instructions"><%= link_to("Cooking Instructions", @recipe.recipe_construction) %></p>
</div>

<div class="add-fav-button">
  <% if current_user %>
  <a class="recipe-show-image"><%= link_to 'Add to Favorites', favorites_path(recipe_id: @recipe), method: :post %></a>
  <% end %>
</div>

<ul class="recipe-ingredients">
  <% @recipe.ingredients.each do |ingredient| %>
    <li class="ingredients"><%= ingredient.description %>
    <% if current_user%>
    <%= form_for(ingredient, url: list_add_url, html:{method: "post"}) do |f| %>
      <%= f.submit(value: "Add Ingredient") %>
      <%= f.hidden_field(:ingredient_id, value: ingredient.id)%></li>
    <% end %>
    <% end %>
  <% end %>
</ul>
