<head>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
</head>
<div class="site-header"> </div>
<h1><%= @recipe.name %></h1>
  <div class="recipe-show">
    <%=link_to(image_tag(@recipe.recipe_picture)) %>
  </div>

  <div class="recipe-instructions">
    <%= link_to("Cooking Instructions", @recipe.recipe_construction) %>
  </div>

  <div class="add-fav-button">
    <% if current_user %>
    <a class="recipe-show-image"><%= link_to 'Add to Favorites', favorites_path(recipe_id: @recipe), method: :post %></a>
    <% end %>
  </div>

    <ul class="recipe-ingredients">
      <% @recipe.ingredients.each do |ingredient| %>
        <li class="ingredients"><%= ingredient.description %>
        <% if current_user%>
        <%= form_for(ingredient, url: list_add_url, html:{method: "post"}) do |f| %>
        <button class="add-ing" type="submit" name="action">
        </button>
          <%= f.hidden_field(:ingredient_id, value: ingredient.id)%></li>
        <% end %>
        <% end %>
      <% end %>
    </ul>



<h3 class="review-section-header">Reviews</h3>


<% @recipe.reviews.each do |review| %>
  <p class="new-reviews">
    <b><%= review.comment %></b>
    <% if review.user != nil %>
      <em> by <%= review.user.first_name %></em>
    <% end %>
  </p>
<% end %>

<% if current_user %>
    <h4 class="new-review-header">Write a New Review</h4>

    <%= form_for([@recipe, @review]) do |f|%>
      <div class="form">
        <%= f.label :comment %><br />
        <%= f.text_area :comment %>
      </div>
      <div class="sub-cancel_button center-align">
        <button class="btn waves-effect waves-light" type="submit" name="action">Submit
        </button>
      </div>
    <% end %>
  </br>
  </br>




    <% else %>
      <p>Please <%= link_to "log in", new_user_session_path %> to add a review </p>
    <% end %>
