
<h1><%= @recipe.name %></h1>

<ul>
  <% @recipe.ingredients.each do |i| %>
    <li prep="ingredients"><%= i.description %></li>
    <%= form_for(i, url: list_add_url, html:{method: "post"}) do |f| %>
      <%= f.submit (value: "add")%>
      <%= f.hidden_field(:ingredient_id, value: i.id)%>
    <% end %>
  <% end %>
</ul>

<%= link_to 'Add to Favorites', favorites_path(recipe_id: @recipe), method: :post %>
