<div class="site-header"> </div>


<h1><%= @recipe.name %></h1>

<ul>

  <% @recipe.ingredients.each do |ingredient| %>
    <li class="ingredients"><%= ingredient.description %>
    <%= form_for(ingredient, url: list_add_url, html:{method: "post"}) do |f| %>
      <%= f.submit(value: "Add Ingredient") %>
      <%= f.hidden_field(:ingredient_id, value: ingredient.id)%></li>

    <% end %>
  <% end %>
</ul>


<div class="add-fav-button">
  <%= link_to 'Add to Favorites', favorites_path(recipe_id: @recipe), method: :post %>
</div>
