
<h1><%= @recipe.name %></h1>

<ul>

  <% @recipe.ingredients.each do |ingredient| %>
    <li class="ingredients"><%= ingredient.description %></li>
    <%= form_for(ingredient, url: list_add_url, html:{method: "post"}) do |f| %>
      <%= f.submit(value: "add") %>
      <%= f.hidden_field(:ingredient_id, value: ingredient.id)%>

    <% end %>
  <% end %>
</ul>
<%= link_to 'Add to Favorites', favorites_path(recipe_id: @recipe), method: :post %>
