    <div class="video-searchbar-header">
      <%= video_tag "FoodEh_Header_Video.mp4", autoplay: :autoplay, loop: :loop, mute: :mute, class:"header-video" %>
        <%= form_tag recipes_path, :method => 'get' do %>
            <%= text_field_tag :search, params[:search] %>
            <%= submit_tag "Search for Recipes", :name => nil %>
        <% end %>
      </div>
      <div class="logo"><img src="/assets/FoodEh_Logo_no_bg.png" class="logo-pic" alt="logo-pic"></div>
    </div>
       <!-- <video class="header-video" loop muted autoplay>
         <source src="/videos/FoodEh_Header_Video.mp4" type="video/mp4">
       </video> -->
    <div class="cuisinecontainer">
      <!-- <a id="cuisine-link-target"></a> -->
      <h1 class="cuisine-h1">Cuisines</h1>
      <div class="all-cuisines">
        <% @cuisines.each do |cuisine| %>
          <div class="cuisinebuttons">
            <div class="cuisine-name"><%= link_to cuisine.name, "/recipes?utf8=%E2%9C%93&search=#{cuisine.name}" %></div>
            <div class="cuisine-image"><%= link_to(image_tag("#{cuisine.image_url}"), "/recipes?utf8=%E2%9C%93&search=#{cuisine.name}") %></div>
          </div>
               <!-- <p class="cuisinebuttons"><%= link_to cuisine.name, "/recipes?utf8=%E2%9C%93&search=#{cuisine.name}" %>
                  <%= link_to(image_tag("#{cuisine.image_url}"), "/recipes?utf8=%E2%9C%93&search=#{cuisine.name}") %>
               </p> -->
        <% end %>
      </div>
    </div>


    <div id="our-team-container">
      <h1 class="our-team-header">Team FoodEh</h1>
      <div class="membcontainer">
        <div class="team-box">
          <img src="/assets/Andrea.jpg" class="our-team-pic andrea" alt="our-team-pic-andrea">
          <h2>Andrea Africa</h2>
          <h3>Web Developer</h3>
          <p>Enter short description</p>
          <div class="team-links">
            <a href="https://github.com/amafrica">
              <img class="github-logo" src="/assets/mark-github.png" alt="github">
            </a>
            <a href="https://www.linkedin.com/in/andrea-africa">
              <img class="linkedin-logo" src="/assets/linkedin.png" alt="linkedin">
            </a>
            <a href="https://twitter.com/amafrica">
              <img class="twitter-logo" src="/assets/twitter-black.png" alt="twitter">
            </a>
          </div>
        </div>
        <div class="team-box">
          <img src="/assets/connor.jpg" class="our-team-pic connor" alt="our-team-pic-connor">
          <h2>Connor Offutt</h2>
          <h3>Web Developer</h3>
          <p>Enter short description</p>
          <div class="team-links">
            <a href="https://github.com/connoroffutt">
              <img class="github-logo" src="/assets/mark-github.png" alt="github">
            </a>
            <a href="https://www.linkedin.com/in/connor-offutt/">
              <img class="linkedin-logo" src="/assets/linkedin.png" alt="linkedin">
            </a>
            <a href="https://twitter.com/amafrica">
              <img class="twitter-logo" src="/assets/twitter-black.png" alt="twitter">
            </a>
          </div>
        </div>
        <div class="team-box">
          <img src="/assets/Jas.jpg" class="our-team-pic jas" alt="our-team-pic-jas">
          <h2>Jasmine Ning</h2>
          <h3>Web Developer</h3>
          <p class="team-description">Enter short description</p>
          <div class="team-links">
            <a href="https://github.com/jazziining">
              <img class="github-logo" src="/assets/mark-github.png" alt="github">
            </a>
            <a href="https://www.linkedin.com/in/jazziining">
              <img class="linkedin-logo" src="/assets/linkedin.png" alt="linkedin">
            </a>
            <a href="https://twitter.com/amafrica">
              <img class="twitter-logo" src="/assets/twitter-black.png" alt="twitter">
            </a>
          </div>
        </div>
      </div>
    </div>
