  <header class='site-header-video'>
    <div class="cuisine-searchbar">
        <%= form_tag recipes_path, :method => 'get' do %>
      <p>
        <%= text_field_tag :search, params[:search] %>
        <%= submit_tag "Search for Recipes", :name => nil %>
      </p>
     <% end %>
   </div>

   <%= video_tag "FoodEh_Header_Video.mp4", autoplay: :autoplay, loop: :loop, mute: :mute, class:"header-video" %>
   <!-- <%= video_tag("FoodEh_Header_Video.mp4", class: "header-video") %> -->
   <!-- <video class="header-video" loop muted autoplay>
     <source src="/videos/FoodEh_Header_Video.mp4" type="video/mp4">
   </video> -->
  </header>
<div class="logo"><img src="/assets/FoodEh_Logo_no_bg.png" class="logo-pic" alt="logo-pic"></div>






<div class="cuisinecontainer">
  <h1 class="cuisine-h1">Cuisines</h1>
<% @cuisines.each do |cuisine| %>
   <p class="cuisinebuttons"><%= link_to cuisine.name, "/recipes?utf8=%E2%9C%93&search=#{cuisine.name}" %>
      <%= link_to(image_tag("#{cuisine.image_url}"), "/recipes?utf8=%E2%9C%93&search=#{cuisine.name}") %>
   </p>
<% end %>
</div>

<container class="our-team-container">
  <h1 class="our-team-header">Meet Our Team</h1>
  <container class="our-team-andrea">
    <h2 class="our-team-member-name">Andrea Africa<img src="/assets/Andrea.jpg" class="our-team-pic-andrea" alt="our-team-pic-andrea"></h2>
        <h3 class="our-team-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</h3>
  </container>
  <container class="our-team-connor">
    <h2 class="our-team-member-name">Connor Offutt<img src="/assets/connor.jpg" class="our-team-pic-connor" alt="our-team-pic-connor"></h2>
        <h3 class="our-team-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</h3>
  </container>
  <container class="our-team-jas">
    <h2 class="our-team-member-name">Jasmine Ning<img src="/assets/Jas.jpg" class="our-team-pic-jas" alt="our-team-pic-jas"></h2>
        <h3 class="our-team-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</h3>
  </container>
</container>
</br>
