<h1> Welcome to your FoodEh profile <%= current_user.first_name %>! </h1>



<h2> Your Favorite Recipes </h2>

   <% current_user.favorites.each do |favorite| %>
    <li><%=link_to favorite.recipe.name, favorite_path(favorite.id)%></li>
   <br>
   <% end %>

<h2> Your Grocery List </h2>

     <% current_user.list.ingredients.each do |ingredient| %>
       <li class="ingredients"><%= ingredient.description %><button class="destroy_ingredient">delete</button></li>
       <%= form_for(ingredient, url: list_destroy_ingredient_url, html:{method: "delete"}) do |f| %>
         <%= f.submit(value: "delete") %>
         <%= f.hidden_field(:ingredient_id, value: ingredient.id)%>
       <% end %>
     <% end %>
     <% end %>
