<!DOCTYPE html>
<html>
  <head>
    <title>FoodEh</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>



  <body>

    <header class='site-header'>
      <h1 class="logo">FoodEh</h1>
      <nav class="site-nav">
              <% if current_user %>
                <%= link_to "Logout", :logout, method: :post %> </br></br>
              <% else %>
                <%= link_to "Register", new_user_path %> |
                <%= link_to "Login", :login %></br></br>
              <% end %>
          </nav>
    </header>

  <% flash.each do |key, message| %>
    <div class="flash-<%= key %>"><%= message %></div>
  <% end %>

    <%= yield %>
    <%= console %>

  </body>
</html>
