<!DOCTYPE html>
<html>

  <head>

    <title>FoodEh</title>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= csrf_meta_tags %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>

  <body>
    <% console %>
    <div class="logo"><img src="/assets/FoodEh_Logo_no_bg.png" class="logo-pic" alt="logo-pic"></div>

    <nav class="site-nav">
      <% if current_user %>
      <a href="/">
        <img src="/assets/FoodEh_Logo.png", class="nav-logo-pic" alt="nav-logo-pic">
      </a>
        <div class="nav-text">
          Signed in as: <%= current_user.first_name %>
        </div>
          <!-- <div class="nav-links-container"> -->
            <%= link_to "Logout", :logout, method: :post, class: "nav-button", id: "nav-button-logout" %>
            <%= link_to "My Profile", user_path(current_user.id), class: "nav-button" %>
            <%= link_to "Recipe Search", recipes_path, class: "nav-button" %>
            <%= link_to "Cuisines", '/#cuisine-link-target', class: "nav-button" %>
          <!-- </div> -->
      <% else %>
      <a href="/">
        <img src="/assets/FoodEh_Logo.png", class="nav-logo-pic" alt="nav-logo-pic">
      </a>
        <!-- <%= link_to "Sign Up", new_user_path, class: "nav-button" %> -->
        <button id="login-button" class="waves-effect waves-light btn modal-trigger N/A transparent" data-target="modal1">Login</button>

        <div id="modal1" class="modal">
          <div class="modal-content #607d8b blue-grey">
            <h4>Login</h4>
            <%= form_tag user_sessions_path, :method => :post do %>
            <form class="col s12">
              <div class="row">
                <div class="input-field col s12">
                  <%= label_tag :email %><br />
                  <%= text_field_tag :email %>
                </div>
              </div>
              <div class="row">
                <div class="input-field col s12">
                  <%= label_tag :password %><br />
                  <%= password_field_tag :password %>
                </div>
              </div>
              <div class="row">
                <input type="checkbox" class="filled-in" id="filled-in-box" checked="checked" />
                <label for="filled-in-box">
                  <%= check_box_tag :remember_me %><br />
                  <%= label_tag :remember_me %>
                </label>
              </div>
              <div class="modal-footer N/A transparent">
                <a class="modal-action modal-close waves-effect waves btn-flat white"><%= submit_tag "Login" %></a>
              </div>
              <div class="modal-footer N/A transparent">
                <!-- <%= link_to "Sign Up", new_user_path, :class => "signup-button" %> -->
              <a href="<%= new_user_path %>" id="signup-button" class="waves-effect waves-light btn #c62828">
                SIGN UP
              </a>
                  <!-- <input type="submit" name="commit" value="Sign Up!"><%= link_to "Sign Up", new_user_path %></input> -->
              </div>
            </form>
            <% end %>
          </div>
        </div>
        <!-- <%= link_to "Login", :login, class: "nav-button" %></br></br> -->
      <% end %>
    </nav>

    <% flash.each do |key, message| %>
      <div class="flash-<%= key %>"><%= message %></div>
    <% end %>

    <%= yield %>

    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>

  </body>

  <footer>
    &copy; FoodEh 2017
  </footer>

</html>
