<!DOCTYPE html>
<html>
  <head>
    <title>FoodEh</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= csrf_meta_tags %>
  </head>



  <body>
    <div class="logo"><img src="/assets/FoodEh_Logo_no_bg.png" class="logo-pic" alt="logo-pic"></div>
    <nav class="site-nav">
      <% if current_user %>
        <a href="/">
          <img src="/assets/FoodEh_Logo.png", class="nav-logo-pic" alt="nav-logo-pic">
        </a>
        <p class="nav-text">Signed in as: <%= current_user.first_name %></p>
        <%= link_to "Logout", :logout, method: :post, class: "nav-button" %>
        <%= link_to "My Profile", user_path(current_user.id), class: "nav-button" %>
        <%= link_to "Recipe Search", recipes_path, class: "nav-button" %>
        <%= link_to "Cuisines", cuisines_path, class: "nav-button" %></p>
      <% else %>
        <img src="/assets/FoodEh_Logo.png", class="nav-logo-pic" alt="nav-logo-pic">
        <%= link_to "Register", new_user_path, class: "nav-button" %>
        <%= link_to "Login", :login, class: "nav-button" %></br></br>
      <% end %>
    </nav>

  <% flash.each do |key, message| %>
    <div class="flash-<%= key %>"><%= message %></div>
  <% end %>

    <%= yield %>


  </body>
</html>
